.tableau { 
  width: 500px;
}

.alternate-background {
  background: rgb(228, 227, 227);
}

.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
}
html, body {
  max-width:100%;
  overflow-x: hidden;
}