{% extends 'base.html' %} {% block main_content %}
<section>
  <div>
    <h2>Course Info</h2>
    <p>This project is created for Interactive Data Science (05-839) taught by Professor John Stamper at Carnegie Mellon University</p>
  </div>
  <div>
    <h2>
      <a href="#">Video Presentation</a>
    </h2>
  </div>
  <div>
    <h2>
      <a class='icon fa-github' href="https://github.com/imsteev/05839-final-project"> Source Code</a>
    </h2>
  </div>
  <div>
    <h2>References</h2>
    <ul>
      <li>
        <a href="https://www.kaggle.com/rtatman/188-million-us-wildfires">Kaggle dataset</a>
      </li>
      <li>
        <a href="http://scikit-learn.org/">Scikit</a>
      </li>
      <li>
        <a href="https://pandas.pydata.org">Pandas</a>
      </li>
      <li>
        <a href="https://templated.co/industrious">Site Template</a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}