<head>
  <title>Wildfires</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="author" content="Stephen Chung, Kedi Zhang">
  <script type="text/javascript" src="https://d3js.org/d3.v2.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/streamgraph.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/templated-industrious/css/main.css" />
</head>